#{extends 'layouts/layout.html' /}
#{set title:'Create Author' /}
#{set 'moreStyles'}
    #{formee.css/}
#{/set}
#{set 'moreScripts'}
    #{script 'formee/formee-validate.js' /}
    #{script 'formee/formee-equal-height.js' /}
    #{script 'application.js' /}
#{/set}

<!-- BEGIN #content .row -->
<section id="content" role="container" class="row" >

    <!-- BEGIN #maincontent .col_12-->
#{formee.form @Application.create(), obj:author, class:'col col_8 push_4'}
    <fieldset>
        <legend>Author</legend>

        #{ifErrors }
            <div id="flash-container" class="formee-msg-error">
                <h3>&{'global.form.msg.error'}</h3>
            </div>
        #{/ifErrors}

        #{formee.hbox grid:12}
            #{formee.field for:'models.Author.first_name'}
                #{formee.hbox grid:3}
                    #{formee.label for:field.for, required:true /}
                #{/formee.hbox}
                #{formee.hbox grid:4}
                    #{formee.text for:field.for /}
                    #{formee.error for:field.for }#{error field.name /}#{/formee.error}
                #{/formee.hbox}
            #{/formee.field}
        #{/formee.hbox}

        #{formee.hbox grid:12}
            #{formee.field for:'models.Author.last_name'}
                #{formee.hbox grid:3}
                    #{formee.label for:field.for, required:true /}
                #{/formee.hbox}
                #{formee.hbox grid:4}
                    #{formee.text for:field.for /}
                    #{formee.error for:field.for}#{error field.name /}#{/formee.error}
                #{/formee.hbox}
            #{/formee.field}
        #{/formee.hbox}

        #{formee.vbox grid:4, class:"right"}
            #{formee.field for:'models.Author.age'}
                #{formee.label for:field.for, required:true /}
                #{formee.text for:field.for /}
                #{formee.error for:field.for}#{error field.name /}#{/formee.error}
            #{/formee.field}
        #{/formee.vbox}
        #{formee.clear/}

        #{formee.hbox grid:12}
            #{formee.field for:'models.Author.mastermind'}
                #{formee.hbox grid:3}
                    #{formee.label for:field.for /}
                #{/formee.hbox}
                #{formee.hbox grid:1}
                    #{formee.checkbool for:field.for /}
                    *{#{formee.error for:field.for}#{error field.name /}#{/formee.error}}*
                #{/formee.hbox}
            #{/formee.field}
        #{/formee.hbox}
        #{formee.clear/}

        *{<div class="field v-block grid-4-12 left">}*
            *{#{formee.field for:'models.Author.category_id'}}*
                *{#{formee.label for:field.for /}}*
                *{#{formee.selectList for:field.for, items:categories, valueProperty:"id", labelProperty:"name"/}}*
                *{#{formee.error for:field.for}#{error field.name /}#{/formee.error}}*
            *{#{/formee.field}}*
        *{</div>}*
        *{#{formee.clear/}}*

        #{formee.hbox grid:12}
            #{formee.field for:'models.Author.category_id'}
                #{formee.label for:field.for /}
                #{formee.radioList for:field.for, items:categories, valueProperty:"id", labelProperty:"name"/}
                #{formee.error for:field.for}#{error field.name /}#{/formee.error}
            #{/formee.field}
        #{/formee.hbox}
        #{formee.clear/}

        *{<div class="field v-block grid-8-12 left">}*
            *{#{formee.field for:'models.Author.category_id'}}*
                *{#{formee.label for:field.for /}}*
                *{#{formee.checkboxList for:field.for, items:categories, valueProperty:"id", labelProperty:"name"/}}*
                *{#{formee.error for:field.for}#{error field.name /}#{/formee.error}}*
            *{#{/formee.field}}*
        *{</div>}*
        *{#{formee.clear/}}*

        #{formee.hbox grid:12}
            #{formee.field for:'models.Author.agree'}
                #{formee.hbox grid:9}#{/formee.hbox}  *{left padding}*
                #{formee.hbox grid:1}
                    #{formee.checkbool for:field.for/}
                    #{formee.error for:field.for}#{error field.name /}#{/formee.error}
                #{/formee.hbox}
                #{formee.hbox grid:2}
                    #{formee.label for:field.for, required:true /}
                #{/formee.hbox}
            #{/formee.field}
        #{/formee.hbox}
        #{formee.clear/}

        #{formee.hbox grid:12}
            #{formee.reset value:"Clear", class:"right"/}
            #{formee.submit value:"views.author.create.submit", class:"right"/}
        #{/formee.hbox}

    </fieldset>
#{/formee.form}
    <!-- END #maincontent .col_12-->

</section>
<!-- END #content .row -->

#{formee.clear height:15/}
<!-- clear -->
