#{extends 'layouts/layout.html' /}
#{set title:'Create Author' /}
#{set 'moreStyles'}
    #{formee.css/}
#{/set}
#{set 'moreScripts'}
    #{script 'formee/formee-validate.js' /}
    #{script 'formee/formee-equal-height.js' /}
    #{script 'application.js' /}
#{/set}

<!-- BEGIN #content .row -->
<section id="content" role="container" class="row" >

    <!-- BEGIN #maincontent .col_12-->
    #{formee.form @Application.create_h(), obj:author, class:'col col_8 push_4'}
        <fieldset>
            <legend>Author</legend>

            #{ifErrors }
                <div id="flash-container" class="formee-msg-error">
                    <h3>&{'global.form.msg.error'}</h3>
                </div>
            #{/ifErrors}

            #{formee.h_box for:"models.Author.first_name", type:'text', label_grid:3, input_grid:4, required:true /}
            #{formee.h_box for:"models.Author.last_name", type:'text', label_grid:3, input_grid:4, required:true /}
            #{formee.h_box for:"models.Author.age", type:'text', label_grid:3, input_grid:4, required:true /}
            #{formee.h_box for:"models.Author.mastermind", type:'checkbool', label_grid:3, input_grid:4 /}
            #{formee.hbox grid:12}
                #{formee.field for:'models.Author.category_id'}
                    #{formee.hbox grid:3}
                        #{formee.label for:field.for /}
                    #{/formee.hbox}
                    #{formee.hbox grid:9}
                        #{formee.radioList for:field.for, items:categories, valueProperty:"id", labelProperty:"name"/}
                        #{formee.error for:field.for}#{error field.name /}#{/formee.error}
                    #{/formee.hbox}
                #{/formee.field}
            #{/formee.hbox}
            #{formee.h_box for:"models.Author.birthday", type:'timestamp', label_grid:3, input_grid:4 /}
            #{formee.h_box for:"models.Author.agree", type:'checkbool', label_grid:3, input_grid:4, required:true /}

            #{formee.hbox grid:12}
                #{formee.submit value:"views.author.create.submit", class:"right"/}
            #{/formee.hbox}

        </fieldset>
    #{/formee.form}
    <!-- END #maincontent .col_12-->

</section>
<!-- END #content .row -->

#{formee.clear height:15/}
<!-- clear -->
