#{extends 'layouts/layout.html' /}
#{set title:'Create Author' /}
#{set 'moreStyles'}
    #{formee.css/}
#{/set}
#{set 'moreScripts'}
    #{script 'formee/formee-validate.js' /}
    #{script 'formee/formee-equal-height.js' /}
    #{script 'application.js' /}
#{/set}

<!-- BEGIN #content .row -->
<section id="content" role="container" class="row" >

    <!-- BEGIN #maincontent .col_12-->
    #{formee.form @Application.create_v(), obj:author, class:'col col_8 push_4 formee'}
        <fieldset>
            <legend>Author</legend>

            #{formee.v_box for:'models.Author.first_name', type:'text', grid:4, required:true /}
            #{formee.v_box for:'models.Author.last_name', type:'text', grid:4, required:true /}
            #{formee.v_box for:'models.Author.age', grid:4, type:'text', required:true /}
            #{formee.v_box for:"models.Author.mastermind", type:'checkbool', grid:4 /}
            #{formee.vbox grid:4}
                #{formee.field for:'models.Author.category_id'}
                    #{formee.label for:field.for /}
                    #{formee.selectList for:field.for, items:categories, valueProperty:"id", labelProperty:"name"/}
                    #{formee.error for:field.for}#{error field.name /}#{/formee.error}
                #{/formee.field}
            #{/formee.vbox}
            #{formee.v_box for:"models.Author.birthday", type:'timestamp', grid:4 /}
            #{formee.v_box for:"models.Author.agree", type:'checkbool', grid:4, required:true /}

            #{formee.hbox grid:12}
                #{formee.submit value:"views.author.create.submit", class:"right"/}
            #{/formee.hbox}

        </fieldset>
    #{/formee.form}
    <!-- END #maincontent .col_12-->

</section>
<!-- END #content .row -->

#{formee.clear height:15/}
<!-- clear -->
