@charset "utf-8";
/* CSS Document */

/* Global Wrapper for Grid
----------------------------------------------------------------------------------------------------*/
div.container, div[role="container"] {
    background-color: transparent;
    width: 960px;
    max-width: 960px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

body {
  background:#000;
  /*color:#000;*/
  /*font:12px Arial, Helvetica, sans-serif;*/
  position:relative;
}

section#content {
    background-color: white;
}