#{extends 'layouts/layout.html' /}
#{set title:'Create Author' /}
#{set 'moreStyles'}
    #{formee.css/}
#{/set}
#{set 'moreScripts'}
    #{script 'formee/formee.js' /}
    #{script 'formee/formee-validate.js' /}
    #{script 'application.js' /}
#{/set}

<!-- BEGIN #content .row -->
<section id="content" role="container" class="row" >

    <!-- BEGIN #maincontent .col_12-->
    #{formee.form @ApplicationController.create_v(), class:'col col_8 push_4 formee'}
        <fieldset>
            <legend>Author</legend>

            #{formee.v_block 'author.first_name', model:'models.Author', for:author, type:'text', col:4, required:true /}
            #{formee.v_block 'author.last_name', model:'models.Author', for:author, type:'text', col:4, required:true /}
            #{formee.v_block 'author.age', model:'models.Author', for:author, col:4, type:'text', required:true /}
            #{formee.v_block 'author.mastermind', model:"models.Author", for:author, type:'checkbool', col:4 /}

            <div class="grid-12-12">
                <input class="right" type="submit" title="Add">
            </div>
        </fieldset>
    #{/formee.form}
    <!-- END #maincontent .col_12-->

</section>
<!-- END #content .row -->

<div class="clear" style="height:15px;"></div>
<!-- clear -->
