#{extends 'layouts/layout.html' /}
#{set title:'Create Author' /}
#{set 'moreStyles'}
    #{formee.css/}
#{/set}
#{set 'moreScripts'}
    #{script 'formee/formee-validate.js' /}
    #{script 'formee/formee-equal-height.js' /}
    #{script 'application.js' /}
#{/set}

<!-- BEGIN #content .row -->
<section id="content" role="container" class="row" >

    <!-- BEGIN #maincontent .col_12-->
#{formee.form @ApplicationController.update(), obj:author, class:'col col_8 push_4'}
    <fieldset>
        <legend>Author</legend>

        #{ifErrors }
            <div id="flash-container" class="formee-msg-error">
                <h3>&{'global.form.msg.error'}</h3>
            </div>
        #{/ifErrors}

        #{formee.hidden for:"models.Author.id" /}
        #{formee.h_block for:"models.Author.first_name", type:'text', label_col:3, input_col:4, required:true /}
        #{formee.h_block for:"models.Author.last_name", type:'text', label_col:3, input_col:4, required:true /}
        #{formee.h_block for:"models.Author.age", type:'text', label_col:3, input_col:4, required:true /}
        #{formee.h_block for:"models.Author.mastermind", type:'checkbool', label_col:3, input_col:4 /}
        <div class="field h-block grid-12-12">
            <div class="grid-3-12">
                #{formee.label for:'models.Author.category' /}
            </div>
            <div class="grid-3-12">
                #{formee.selectList for:'models.Author.category_id', items:categories, valueProperty:"id", labelProperty:"name" /}
                #{formee.error for:'models.Author.category_id'}#{error 'author.category_id' /}#{/formee.error}
            </div>
        </div>
        #{formee.clear/}

        <div class="grid-12-12">
            <input class="right" type="submit" title="Update">
        </div>
    </fieldset>
#{/formee.form}
    <!-- END #maincontent .col_12-->

</section>
<!-- END #content .row -->

<div class="clear" style="height:15px;"></div>
<!-- clear -->
