*{Args: arg, object, type, label_col, input_col, required}*

#{if _type == null}
    #{set _type:'text'/}    *{ Default type of input }*
#{/if}

%{String classAttr = "field h-block grid-12-12 formee-equal ${_class}" }%

%{
    def val = ""
    if (_object != null) {
        def obj_fld = _arg.split(':')[1]
        int idx = obj_fld.indexOf('.') + 1
        def field = obj_fld.substring(idx)
        val = org.apache.commons.beanutils.PropertyUtils.getProperty(_object, field);
    }
}%

<div class="${classAttr}">
    #{formee.field _arg} *{models.Author:author.first_name -> _arg}*
        <div class="grid-${_label_col}-12">
            <label>&{field.name}#{if _required}<em class="formee-req">*</em>#{/if}</label>
        </div>
        <div class="grid-${_input_col}-12">
            <input type="${_type}" data-validate="${field.validationData}" id="${field.id}" name="${field.name}" value="${field.value ?: val}" class="${field.errorClass}" />
            #{formee.error field.id}#{error field.name /}#{/formee.error}
        </div>
    #{/formee.field}
</div>
<div class="clear"></div>