*{Args: arg, for, type, value, label_grid, input_grid, [required]}*

*{%{String classAttr = "field h-block grid-12-12 " + (_class ?: "") }%}*

#{formee.hbox grid:12, class:_class}
    #{formee.field _arg, for:_for} *{field_name -> _arg, models.Author.field_name -> for}*
        #{formee.hbox grid:_label_grid}
            #{formee.label msg:_label, for:field.for, required:_required /}
        #{/formee.hbox}
        #{formee.hbox grid:_input_grid}
            %{String val = _value ?: field.value}%
            #{formee.input _arg, for:field.for, type:_type, class:field.errorClass, value:val /}
            #{formee.error _arg, for:field.for}#{error field.name /}#{/formee.error}
        #{/formee.hbox}
    #{/formee.field}
#{/formee.hbox}
