*{Args: arg, for, for, type, col, [required]}*

%{String classAttr = "field v-block grid-${_col}-12 formee-equal " + (_class ?: "") }%

<div class="${classAttr}">
    #{formee.field _arg, for:_for} *{field_name -> _arg, models.Author.field_name -> for}*
        #{formee.label msg:_label, for:field.for, required:_required /}
        #{formee.input _arg, for:field.for, type:_type, class:field.errorClass /}
        #{formee.error _arg, for:field.for}#{error field.name /}#{/formee.error}
    #{/formee.field}
</div>