<div class="clear" style="height:15px;"></div>
<!-- clear -->

<footer class="row content" role="contentinfo">
    <article class="aboutus float_left halfWidth">
        <header>
            <h3>&{'layout.footer.about.header'}</h3>
        </header>
        <section class="col col_8">
            <p>
                <small>
                    &{'layout.footer.about.message'}
                </small>
            </p>
        </section>
    </article>
    <article class="contactus float_left halfWidth">
        <header>
            <h3>&{'layout.footer.contact.header'}</h3>
        </header>
        <section class="col col_4">
            <p>
            <small>
                &{'layout.footer.contact.message'}
            </small>
            </p>
        </section>
        <section class="col col_4">
            <div class="clear" style="height:10px;"></div>
            <p><small>&{'layout.footer.contact.email'}</small></p>
        </section>
    </article>
</footer>
<footer class="row align_center copyright" role="contentinfo">
    <div class="col col_16">
        <small>
            <strong>By OMAROMAN</strong>
        </small>
    </div>
</footer>