<nav id="main-menu">
    <ul role="menubar" id="css3menu" class="topmenu fullWidth">
        <li role="menuitem" class="topfirst"><a href="#" title="Authors" style="height:18px; line-height:18px; " ><span>Authors</span></a>
            <ul role="menu">
                <li role="menuitem">#{a @ApplicationController.index(), title:"Index"}Index#{/a}</li>
                <li role="menuitem">#{a @ApplicationController.add_h(), title:"Create_H"}Create_H#{/a}</li>
                <li role="menuitem">#{a @ApplicationController.add_v(), title:"Create_H"}Create_V#{/a}</li>
                <li role="menuitem">#{a @ApplicationController.add(), title:"Create"}Create#{/a}</li>
            </ul>
        </li>
        <li role="menuitem" class="topmenu"><a href="#" title="Accounts" style="height:18px; line-height:18px; " ><span>Entry</span></a>
            <ul role="menu">
                <li role="menuitem"><a href="#" title="Item 1 0" ><span>Item 1 0</span></a>
                    <ul role="menu">
                        <li role="menuitem"><a href="#" title="Item 1 0 1" >Item 1 0 1</a></li>
                        <li role="menuitem"><a href="#" title="Item 1 0 0">Item 1 0 0</li>
                    </ul>
                </li>
                <li role="menuitem"><a href="#" title="Item 1 1" >Item 1 1</a></li>
                <li role="menuitem"><a href="#" title="Item 1 2" ><span>Item 1 2</span></a>
                    <ul role="menu">
                        <li role="menuitem"><a href="#" title="Item 1 2 2" >Item 1 2 2</a></li>
                        <li role="menuitem"><a href="#" title="Item 1 2 1" >Item 1 2 1</a></li>
                        <li role="menuitem"><a href="#" title="Item 1 2 0" >Item 1 2 0</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="toplast" ><a href="#" title="Cards" style="height:18px; line-height:18px; " >CRUD</a></li>
    </ul>
</nav>

<div class="clear" style="height:15px;"></div>
<!-- clear -->